<header class="Montserrat">
  <nav>
    <ul>
      <li class="li-img-logo"><img class="img-logo" src="./assets/images/icons/tourAgencyLogo.png" alt="Logotype"/> </li>
      <li class="Comfortaa li-text-logo">YMS Travel</li>
      <li class="li-main-page"><a routerLink="/main-page">Головна</a></li>
      <li class="li-tour"><a routerLink="/tour-main-page">Тури</a></li>
      <li class="li-about-us"><a routerLink="/about-us">Про нас</a></li>
      <li class="li-profile"><a routerLink="/profile">Профіль <img class="profile-logo" src="./assets/images/icons/profile.png" alt="profile"/></a></li>

    </ul>
  </nav>
</header>
