
header{

  display: flex;
  justify-content: center;


}

header nav{
  width:100%;
  height: 1.5%;
  background-color: #2DA7FF;
  /*border-radius: 5px;*/

}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li{
  display: inline-block;
}

header nav ul li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;

}

header nav ul .li-img-logo .img-logo{
  width: 100px;
  height: 50px;
}

header nav ul .li-img-logo{
  margin-left: 19%;
}

/*header nav ul .li-main-page, .li-tour,.li-about-us{*/
/*  margin-left: 60px;*/
/*}*/

header nav ul .li-main-page{
  margin-left: 13%;
  margin-top: 8px;
}
header nav ul .li-about-us{
  margin-left: 4%;
  margin-top: 8px;
}

header nav ul .li-tour{
  margin-left: 4%;
  margin-top: 8px;
}

header nav ul .li-profile{
  margin-left: 14%;
  margin-top: 8px;
}

header nav ul .li-profile img{
  margin-left: 10px;
}

header nav ul .li-profile img{
  width: 40px;
  height: 40px;
  margin-top: 8px;
}
.li-text-logo{
  font-size: 24px;
  line-height: 27px;
  font-weight: 400;

}
