<app-header></app-header>

<div class="Montserrat main">

  <div class="about-company-block">

    <div class="about-company-img-wrapper">
      <p><img src="./assets/images/other_img/meet-people.jpg" alt="Travel"/> </p>
    </div>

    <div class="about-company-text-wrapper">

      <h2 class="about-title">Про компанію</h2>

      <h1 class="Comfortaa company-name">YMS Travel</h1>

      <p class="desc-company">

        Бажаєте вирушити у довгоочікувану літню відпустку?
        Чи можливо відсвяткувати Новий Рік на узбережжі Індійського океану?
        Туристична агенція <b>"YMS Travel"</b> пропонує варіанти відпочинку на будь-який смак та бюджет!
        Наші менеджери допоможуть підібрати та оформити тур відповідно до Ваших побажань, оформлять усі документи,
        а Вам залишиться лише зібрати валізи та вирушити у незабутню подорож!
      </p>

    </div>
  </div>

  <div class="about-services-block">

    <div class="services-wrapper-text">

      <h1 class="Comfortaa services-title">Наші послуги</h1>

      <p class="services-desc">
        YMS Travel організує та адаптує відпочинок практично
        в будь-яку точку світу та майже для будь-якого мандрівника.
        Деякі з наших пропозицій включають:
      </p>

      <ul class="tour-category-list">
        <li><a routerLink="" >Пляжний відпочинок</a></li>
        <li><a routerLink="" >Активний відпочинок</a></li>
        <li><a routerLink="" >Шопінг</a></li>
        <li><a routerLink="" >Оздоровчі труи</a></li>
      </ul>

      <button class="search-tour-btn" (click)="routeTour()">Почати пошук</button>
    </div>

    <div class="services-wrapper-img">
      <p><img src="./assets/images/other_img/mountain.jpg" alt="travel-img"/> </p>
    </div>
  </div>

  <div class="about-mission-block">

    <div class="wrapper-mission-title">
      <h1 class="Comfortaa mission-title">Місія компанії</h1>
    </div>

    <div class="wrapper-mission-desc">
      <p class="mission-desc">
        Фахівці турагенції "YMS Travel" розуміють, наскільки важливим є відпочинок за умов сучасного світу.
        Саме тому ми робимо його доступним та якісним! Індивідуальний підхід до кожного туриста, з'ясування
        побажань та вимог туриста до відпочинку – невід'ємна частина роботи наших менеджерів.
        Ми дбаємо про те, щоб Ви вирушили у подорож, про яку мріяли!
      </p>
    </div>

    <div class="mission-blocks">

      <div class="support-mission">
        <p class="support-mission-img"><img src="./assets/images/icons/customer-service.png" alt="support img"/> </p>
        <p class="support-mission-text">Підтримка</p>
      </div>

      <div class="offer-mission">
        <p class="offer-mission-img"><img src="./assets/images/icons/customer.png" alt="offer img"/> </p>
        <p class="offer-mission-text">Пропозиція</p>
      </div>

      <div class="confidence-mission">
        <p class="confidence-mission-img"><img src="./assets/images/icons/travel-agent.png" alt="confidence img"/> </p>
        <p class="confidence-mission-text">Впевненість</p>
      </div>

      <div class="service-mission">
        <p class="service-mission-img"><img src="./assets/images/icons/call-center-service.png" alt="servcie img"/> </p>
        <p class="service-mission-text">Обслуговування</p>
      </div>
    </div>
  </div>


</div>
<app-footer></app-footer>
