<footer class="Montserrat">


  <div class="wrapper-main">

    <div class="wrapper-left">

      <div class="Comfortaa company-name">
        <h1>E Travel</h1>
      </div>

      <div class="company-desc">
        <p>
          Задавайте питання які вас цікавлять за контактами вказаними на сайті.
        </p>
      </div>
    </div>

    <div class="wrapper-right">

      <div class="company-email">

        <div class="company-email-img">
          <p><img src="./assets/images/icons/email-company-icon.png" alt="email"/> </p>
        </div>

        <div class="company-email-text">
          <p>e_travel@gmail.com</p>
        </div>

      </div>

      <div class="company-phone">

        <div class="company-phone-img">
          <p><img src="./assets/images/icons/phone-company-icon.png" alt="phone"/> </p>
        </div>

        <div class="company-phone-text">
          <p>+380 66 789 6312</p>
        </div>

      </div>

      <div class="company-location">

        <div class="company-location-img">
          <p><img src="./assets/images/icons/location-company-icon.png" alt="location"/> </p>
        </div>

        <div class="company-location-text">
          <p>Ukraine, Chernivtsi</p>
        </div>

      </div>
    </div>


  </div>

  <div class="copyright-text">
    <p>©ETravelTour 2023. All rights reserved and deserved.</p>
  </div>

</footer>
