.navbar-container{


}

ul li{
  list-style-type: none;
  background-color: #5EB3F0;
  width: 265px;
  height: 65px;
  margin-top: 8%;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li a{
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

